
#Div1{
    height: 12rem;
    /*75vh*/
    /*200px*/
    width: 12.5rem;
    /*100vw*/
    /*200px*/
   /* background-color: rgb(255, 0, 0); */
  /* background-color: rgba(25, 120, 100, 1); */
  background-color: #393a7b;
  margin: 4px;
}
#Div2{
    height: 50%;
    width: 50%;
    background-color: cyan;
   /* border-width: 2px;
    border-style: solid;
    border-color: red; */
   border: 4px light beige;
    border-radius: 1px; 
}
#Div3{
    height: 200px;
    width: 200px;
    background-color: orange;
}
#samplepara{
    /*border: 1px solid red; */
    border-left: 4px solid red;
}