#div1{
    background-color: red;
    height: 1000px;
    width: 1000px;
}
#div2{
    background-color: blue;
    height: 1000px;
    width: 1000px;
}
#div3{
    background-color: blueviolet;
    width: 1000px;
    height: 1000px;
}
span{
    display: block;
}
div{
    display: inline;
}