#div1{
    background-color: red;
    height: 200px;
    width: 200px;
}
#div2{
    background-color: blue;
    height: 200px;
    width: 200px;
}
#div3{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}