#box{
    width: 330px;
    height: 330px;
    background-color: #fffffff5;
    margin: 100px auto;
    border: 1px solid black;
    display: flex;
}
#box div{
    border-radius: 50%;
    border: 1px solid lightgrey;
    box-sizing: border-box;
}
#ball1{
    height: 40px;
    width: 40px;
    background-color: purple;
}
#ball2{
    height: 50px;
    width: 50px;
    background-color:pink;
}
#ball3{
    height: 60px;
    width: 60px;
    background-color: #91dcff;
}
#ball4{
    height: 70px;
    width: 70px;
    background-color: #93ff99;
}
#ball5{
    height: 80px;
    width: 80px;
    background-color: #dfff89;
}
#ball6{
    height: 90px;
    width: 90px;
    background-color: #ffdf8e;
}