.box{
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: center;
}
.yellow-box{
    background-color: yellow;
    padding: 15px;
}
.red-box{
        background-color: crimson;
        color: #fff;
}
.blue-box {
        background-color: blue;
        color: #fff;
        border: 3px solid black;
        width: 25px;
      }
            