#div1{
    height: 200px;
    width: 200px;
    background-color: aqua;
    position: relative;
}
#div2{
    height: 200px;
    width: 200px;
    background-color:yellow;
    position:fixed;
}
#div3{
    height: 200px;
    width: 200px;
    background-color: maroon;
    position:absolute;
    bottom: 20px;
}
#div4{
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    position:sticky;
}