p{
    color: darkgreen;
}
h1{
    color: black;
    font-size: 40px;
}
h1, p{
    font-family: sans-serif;
}
header{
    height: 400px;
}
article{
    width: 1000px;
}
/*h4{
    text-transform: uppercase;
}*/
.uppercase{
    text-transform: uppercase;
}
.cursive{
    font-family: cursive;
}
#blog-desc{
    color: #318131;
}
.h-style{
    color: darkslategrey;
}